<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<head>
	<title>my vue</title>
</head>
<body>
	<div id="app">
	  {{ message }}
	</div>
	<div id="app-2">
		<span v-bind:title="message">
			鼠标悬停几秒钟查看此处动态绑定的提示信息！
		</span>
	</div>
	<div id="app-3">
		<p v-if="seen">现在你看到我了</p>
	</div>
	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
	</div>
	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">逆转消息</button>
	</div>
	<div id="app-6">
		<p>{{ message }}</p>
		<input v-model='message'>
	</div>
    
	<div id="app-7">
		<ol>
			<todo-item v-for="item in groceryList"
				v-bind:todo="item"
				V-bind:key="item.id">	
			</todo-item>
		</ol>
	</div>

	<div id="demo">
		{{ fullName }}
	</div>

	<div id="watch-example">
		<p>
			Ask a yes/no question:
			<input v-model="question">
		</p>
		<p>{{ answer }}</p>
	</div>
	<ul id="example-2">
	  <li v-for="(item, index) in items">
	    {{ parentMessage }} - {{ index }} - {{ item.message }}
	  </li>
	</ul>
	<ul id="v-for-object" class="demo">
		<li v-for="value in object">
			{{ value }}
		</li>
		<div v-for="(value, key) in object">
			{{ key }} : {{ value }}
		</div>
	</ul>
    <div id="example-3">
    	<li v-for="n in evenNumbers">{{ n }}</li>
    </div>
</body>



</html>

<!-- 因为 AJAX 库和通用工具的生态已经相当丰富，Vue 核心代码没有重复 -->
<!-- 提供这些功能以保持精简。这也可以让你自由选择自己更熟悉的工具。 -->
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script type="text/javascript">
	var app = new Vue({
	  el: '#app',
	  data: {
	    message: 'Hello Vue!'
	  }
	})

	var app2= new Vue({
		el:'#app-2',
		data:{
			message: '页面加载于 ' + new Date().toLocaleString()
		}
	})

	var app3 = new Vue({
		el:'#app-3',
		data:{
			seen:true
		}
	})

	var app4 = new Vue({
		el:'#app-4',
		data:{
			todos: [
               {text:'学习JavaScript'},
               {text:'学习Vue'},
               {text:'整个牛项目'}
			]
		}
	})

	var app5 = new Vue({
		el:'#app-5',
		data:{
			message:'Hello Vue.js',
		},
		methods:{
			reverseMessage: function () {
				this.message = this.message.split('').reverse().join('')
			}
		}
	})

	var app6 = new Vue({
		el:'#app-6',
		data:{
			message: 'hello Vue!'
		}
	})

	// 定义名为 todo-item 的新组件
	Vue.component('todo-item', {
		props:['todo'],
	  	template: '<li>{{ todo.text }}</li>'
	})

	var app7 = new Vue({
		el:'#app-7',
		data:{
			groceryList: [
               {id:0, text:'蔬菜'},
               {id:1, text:'奶酪'},
               {id:2, text:'随便其他什么人吃的东西'}
			]
		}
	})

	var vm = new Vue({
		el:'#demo',
		data:{
			firstName:'Foo',
			lastName:'Bar',
		},

		computed: {
			fullName:{
				get: function () {
					return this.firstName + ' ' + this.lastName
				},
				set: function (newValue) {
					var names = newValue.split(' ')
					this.firstName = names[0]
					this.lastName = names[names.length - 1]
				}
			} 
		}
	})

	var watchExampleVM = new Vue({
	  el: '#watch-example',
	  data: {
	    question: '',
	    answer: 'I cannot give you an answer until you ask a question!'
	  },
	  watch: {
	    // 如果 `question` 发生改变，这个函数就会运行
	    question: function (newQuestion, oldQuestion) {
	      this.answer = 'Waiting for you to stop typing...'
	      this.debouncedGetAnswer()
	    }
	  },
	  created: function () {
	    // `_.debounce` 是一个通过 Lodash 限制操作频率的函数。
	    // 在这个例子中，我们希望限制访问 yesno.wtf/api 的频率
	    // AJAX 请求直到用户输入完毕才会发出。想要了解更多关于
	    // `_.debounce` 函数 (及其近亲 `_.throttle`) 的知识，
	    // 请参考：https://lodash.com/docs#debounce
	    this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
	  },
	  methods: {
	    getAnswer: function () {
	      if (this.question.indexOf('?') === -1) {
	        this.answer = 'Questions usually contain a question mark. ;-)'
	        return
	      }
	      this.answer = 'Thinking...'
	      var vm = this
	      axios.get('https://yesno.wtf/api')
	        .then(function (response) {
	          vm.answer = _.capitalize(response.data.answer)
	        })
	        .catch(function (error) {
	          vm.answer = 'Error! Could not reach the API. ' + error
	        })
	    }
	  }
	})

	var example2 = new Vue({
      el: '#example-2',
	  data: {
	    parentMessage: 'Parent',
	    items: [
	      { message: 'Foo' },
	      { message: 'Bar' }
	    ]
	  }
	})

	new Vue({
		el: '#v-for-object',
		data: {
			object: {
				firstName: 'John',
				lastName: 'Doe',
				age: 30
			}
		}
	})
	var example3 = new Vue({
      el: '#example-3',
	  data: {
	    numbers: [ 1, 2, 3, 4, 5 ]
	  },
	  computed: {
	    evenNumbers: function () {
	      return this.numbers.filter(function (number) {
	        return number % 2 === 0
	      })
	    }
	  }
	})
</script>